<form [formGroup]="formularioLogin">
    <mat-form-field appearance="fill">
        <mat-label>Correo electronico</mat-label>
        <input formControlName="email"    matInput>
         <mat-error 
         *ngIf="formularioLogin.get('email').hasError('required')">
            Este campo es obligatorio</mat-error>
            <mat-error *ngIf="formularioLogin.get('email').hasError('email')">
                El formato del email no es correcto</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input formControlName="password" 
        type="password" matInput>
    </mat-form-field>
</form>



<button mat-raised-button [disabled]="formularioLogin.invalid" color="primary" (click)="iniciarSesion()">Iniciar sesión</button>
<button mat-raised-button color="primary" (click)="borrarSesion()">Borrar cookie</button>